.directory-container {
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
  box-shadow: 0.2px 1px;
}

.directory-container > div {
  cursor: pointer;
  color: #fff;
  display: flex;
  /* align-items: center; */
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f.directory-container > div > span {
  margin-right: 5px;
}

.directory-container > div + * {
  margin-left: 0rem;
}

.children-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
